/****VARIABLES**********/
$primary-color: #8f6d50;
$contrast-color: #0f3436;
$compliment-color: #5a1a18;


/******ELEMENT STYLES*******/
//A class to add to body for fontObserver Polyfill
.fonts-loaded body {
	font-family: Oxygen, sans-serif;
}
h2 {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

a:hover {
	color: $contrast-color;
}


/****MIXINS******/
//Styles an element with full screen height and won't resize when the url bar dissapears on mobile browsers (i.e. a mixin that works the way the vh unit actually should). the four major aspect ratios, which must be listed from the largest ratio to the smallest (16:9, 16:10, 3:2, 4:3). 
@mixin vh-fix($height) {
	@media (max-device-aspect-ratio: 3/4) {
	height: calc(#{$height}vw * 1.333 - 65px);
	}
	@media (max-device-aspect-ratio: 2/3) {
	height: calc(#{$height}vw * 1.5 - 65px);
	}
	@media (max-device-aspect-ratio: 10/16) {
	height: calc(#{$height}vw * 1.6 - 65px);
	}
	@media (max-device-aspect-ratio: 9/16) {
		height: calc(#{$height}vw * 1.778 - 65px);
	}
}
//No-brainer CSS triangle mixin
@mixin triangle($points-to, $height, $width, $x, $x-position, $y, $y-position) {
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	z-index: 999;
	border-style: solid;
	border-color: transparent;
	border-width: $height $width;
	border-#{$points-to}: none;
	#{$x}: $x-position;
	#{$y}: $y-position;
}
//Mixing from internet to create a consistent vertical align
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
//Styles Thumbnails for the different services
@mixin thumbnail($img-name) {
	height: 100%;
	width: 50px;
	margin: 0 15px;
	border: 2px solid transparent;
	display: inline-block;	
	background: url("../img/#{$img-name}-thumb.jpg") no-repeat 100%;
}
//Applies the thumbnail mixin style to each service 
@mixin thumbnail-selector($service-name) {
	.service-thumb-1 {
		@include thumbnail(#{$service-name}-1);
		border-color: white;
	}
	.service-thumb-2 {
		@include thumbnail(#{$service-name}-2);
	}
	.l-relative-div {
		position: static;
		height: 50px;
		bottom: 15px;
		width: 100%;
		text-align: center;
	}
}


