// Imports
@import url(http://fonts.googleapis.com/css?family=Oxygen:700,400,300);

html, body {
	margin: 0;
	padding: 0px;
	overflow: none;
//Something is adding whitespace below the body to the HTML by about 13px. The following snippet addresses the problem but doesn't fix it.
	html, body {
		height: 100%;
	}
}
//Mixing from internet to create a consistent vertical align
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
//All h2 are vertical aligned, so this is included in the base
h2 {
	margin: 0;
}
//Icon sizes

//Color Variables 
$primary-color: #8f6d50;
$contrast-color: #0f3436;
$compliment-color: #5a1a18;
//Font Variables
$oxygen: "Oxygen", sans-serif;

//Styles
body {
	margin: 0;
	background-color: white;
	color: white;
}
h1, h2, h3, h4, h5, h6, p, em {
	font-family: "Oxygen";
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
p {
	font-weight: 400;
}

a:hover {
	color: $contrast-color;
}