$primary-color: #8f6d50;
$contrast-color: #0f3436;
$compliment-color: #5a1a18;
//No-brainer CSS triangle mixin
@mixin triangle($points-to, $height, $width, $x, $x-position, $y, $y-position) {
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	z-index: 99;
	border-style: solid;
	border-color: transparent;
	border-width: $height $width;
	border-#{$points-to}: none;
	#{$x}: $x-position;
	#{$y}: $y-position;
}
//icon size different for each breakpoint
@mixin icon-size {
	height: 48px;
	width: 48px;
}
//Styles the individual thumbails
@mixin thumbnail($img-name) {
	height: 100%;
	width: 50px;
	margin: 0 15px;
	border: 2px solid transparent;
	display: inline-block;	
	background: url("../img/#{$img-name}-thumb.jpg") no-repeat 100%;
}
//Styles the thumbnail for each service
@mixin thumbnail-selector($service-name) {
	.service-thumb-1 {
		@include thumbnail(#{$service-name}-1);
		border-color: white;
	}
	.service-thumb-2 {
		@include thumbnail(#{$service-name}-2);
	}
	.l-relative-div {
		position: static;
		height: 50px;
		bottom: 15px;
		width: 100%;
		text-align: center;
	}
}
.icon {
	@include icon-size;

}
//Creates a consistent vertical align
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

//Styles an element with full screen height and won't resize when the url bar dissapears on mobile browsers (i.e. a mixin that works the way the vh unit actually should). the four major aspect ratios, which must be listed from the largest ratio to the smallest (16:9, 16:10, 3:2, 4:3). 

@mixin vh-fix {
	@media (max-device-aspect-ratio: 3/4) {
	height: calc(100vw * 1.333 - 65px);
	}
	@media (max-device-aspect-ratio: 2/3) {
	height: calc(100vw * 1.5 - 65px);
	}
	@media (max-device-aspect-ratio: 10/16) {
	height: calc(100vw * 1.6 - 65px);
	}
	@media (max-device-aspect-ratio: 9/16) {
		height: calc(100vw * 1.778 - 65px);
	}
}

//Landing Panel
//100% heigh ensures consistent landing panel experience
.l-landing-panel {
	display: hidden;
	width: 320px;
	margin: 0 auto;
	@include vh-fix;
}
//landing panel split into 3 vertical sections along the golden ratio. 62% going to the logo and the 38% split between top and bottom icons
.l-header {
	height: 19%;
	padding: 0;
}
.l-header-images {
	float: right;
	@include vertical-align;
}
#logo-wrap {
	height: 62%;
	img {
		@include vertical-align;
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}
.l-landing-footer {
	height: 19%;
	img {
		@include vertical-align;
		display: block;
		margin: 0 auto;
	}
}

/*******SERVICE PANEL********
****************************/
#large-screen-content {
	display: none;
}

.l-header-wrapper {
	background: url("../img/barbell.svg") no-repeat center;
	background-color: $primary-color;
	background-size: 19em;
	height: 7em; 
	text-align: center;
	h2 {
		@include vertical-align;
	}
}
//triange mixin requires relative div wrapper
.l-relative-div {
 position: relative;
}
.l-header-wrapper::after {
	@include triangle(bottom, 35px, 25px, top, 100%, left, 5%);
	border-top-color: $primary-color;
}
.l-header-wrapper::before {
	@include triangle(bottom, 35px, 25px, top, 100%, right, 5%);
	border-top-color: $primary-color;
}
.l-service-wrapper {
	overflow: hidden;
}
.l-service-description {
	position: relative;
	padding: 10px 25px 25px 25px;
	height: auto;
	p {
		margin: 0;
		padding: 25px 0;
	}
	h2 {
		text-align: center;
	}
}

.l-service-images {
	position: relative;
	img {
		width: 100%;
	}
}
.service-image-2 {
	position: absolute;
	top: 0%;
}
.l-service-description::after {
	@include triangle(bottom, 35px, 25px, top, 99%, left, 5%);
}
//Alternates between left side & right side triangle
.l-service-wrapper:nth-child(even) {
	.l-service-description::after {
		left: 83%;
	}
}

//Direction of triangle changes whether in mobile or desktop, so it made most sense to include the colors in the layout
.l-service-description.service-style-1::after {
	border-top-color: $contrast-color;
}
.l-service-description.service-style-2::after {
	border-top-color: $compliment-color;
}
.l-service-description.service-style-3::after {
	border-top-color: $primary-color;
}

.l-service-wrapper:nth-of-type(0n+1) {
	@include thumbnail-selector(site-service);
}
.l-service-wrapper:nth-of-type(0n+2) {
	@include thumbnail-selector(jack-slide);
}
.l-service-wrapper:nth-of-type(0n+3) {
	@include thumbnail-selector(picker);
}
.l-service-wrapper:nth-of-type(0n+4) {
	@include thumbnail-selector(transport);
}
.l-service-wrapper:nth-of-type(0n+5) {
	@include thumbnail-selector(forklift);
}
.l-service-wrapper:nth-of-type(0n+6) {
	@include thumbnail-selector(rig);
}
/*****ABOUT US/CONTACT******
****************************/
#safety {
	padding: 5% 0 0 0;
	background: url('../img/background.png') no-repeat;
	background-size: cover;
}
.safety {
	img {
		max-width: 90%;
	}
}
#contact-div {
	margin: 15% 0;
}
.icon-spread {
	width: 100%;
	text-align: center;
	position: relative;
}
.safety-icon {
	margin: 5%;
}
.contact-icon {
	width: calc(100vw/2.5);
	padding: 5% 0;
	display: inline-block;
	vertical-align: top;
	p {
		font-size: 11;
	}

}
/*****ABOUT US/CONTACT******
****************************/
.footer {
	height: 40px;
	padding: 2%;
	font-size: 15;
}