@mixin icon-size {
	width: 72px;
	height: 72px;
}
//No-brainer CSS triangle mixin
@mixin triangle($points-to, $height, $width, $x, $x-position, $y, $y-position) {
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	z-index: 99;
	border-style: solid;
	border-color: transparent;
	border-width: $height $width;
	border-#{$points-to}: none;
	#{$x}: $x-position;
	#{$y}: $y-position;
}
.icon {
	@include icon-size;
}
//Mixing from internet to create a consistent vertical align
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
#wide-screen {
	max-width: 980px;
	margin: 0 auto;
}
//Landing Panel
//100% heigh ensures consistent landing panel experience
.l-landing-panel {
	height: 100%
}
//landing panel split into 3 sections along the golden ratio. 62% going to the logo and the 38% split between top and bottom icons
.l-header {
	height: 19%;
	padding: 0;
	p {
		display: none;
	}
}
//Add bottom social/contact icons to top of page
#contact-div {
	position: absolute;
	top: 0;
	max-width: 980px;
	.icon {
		display: inline-block;
		margin: 2.5% 5%;
		background-color: grey;
	}
}
#logo-wrap {
	height: 62%;
	img {
		@include vertical-align;
		display: block;
		margin: 0 auto;
		max-height: 100%;
	}
}
.l-landing-footer {
	height: 19%;
	img {
		@include vertical-align;
		display: block;
		margin: 0 auto;
	}
}

/*******SERVICE PANEL********
****************************/
//.l-header-wrapper from mobile versions
.l-header-wrapper {
	display: none;
}
#large-screen-content {
	height: 30vh;
	margin: 1vh 0;
	div, h2 {
		text-align: right;
	}
	div {
		display: inline-block;
		float: left;
		width: 45%;
		margin-right: 10%;
	}
	em {
		font-size: 4em;
	}
}

.l-service-wrapper {
	overflow: hidden;
	height: 359px;
	position: relative;
	width: 980px;
}

.l-service-description {
	position: absolute;
	z-index: 99;
	top: 0;
	width: calc(38% -  60px);
	height: 344px;
	padding: 15px 30px 0 30px;
	p, h2 {
		text-align: right;
	}
}

.l-service-images {
	position: relative;
	width: 124%;
	margin-left: 38%;
	img {
		display: inline;
		width: 50%;
		float: left;
	}
	img:nth-of-type(2n) {
		position: absolute;
		right: 0;
	}
}
//Alternates position of Service Descriptions 
.l-service-wrapper:nth-of-type(2n) {
	.l-service-description {
		right: 0;
		p, h2 {
			text-align: left;
		}
	}
	.l-service-images {
		margin-left: 0;
	}
}
//Must select .l-service-description as nth child .l-service-wrapper to add different ::after styles
//Adds a triangle after each .l-service-description. Since the direction of the triangles changes on 2n and the color on 3n, each triangle requires unique styling. Adding border-*-color by .l-service-wrapper.l-service-style-*::after won't change the transparent border color in the triangle mixin.
.l-service-wrapper:nth-of-type(0n+1) .l-service-description::after {
		@include triangle(right, 25px, 40px, left, 100%, bottom, 35px);
		border-left-color: $contrast-color;
}
.l-service-wrapper:nth-of-type(0n+2) .l-service-description::after {
		@include triangle(left, 25px, 40px, right, 100%, bottom, 35px);
		border-right-color: $compliment-color;
}
.l-service-wrapper:nth-of-type(0n+3) .l-service-description::after {
		@include triangle(right, 25px, 40px, left, 100%, bottom, 35px);
		border-left-color: $primary-color;
}
.l-service-wrapper:nth-of-type(0n+4) .l-service-description::after {
		@include triangle(eft, 25px, 40px, right, 100%, bottom, 35px);
		border-right-color: $contrast-color;
}
.l-service-wrapper:nth-of-type(0n+5) .l-service-description::after {
		@include triangle(right, 25px, 40px, left, 100%, bottom, 35px);
		border-left-color: $compliment-color;
}
.l-service-wrapper:nth-of-type(0n+6) .l-service-description::after {
		@include triangle(left, 25px, 40px, right, 100%, bottom, 35px);
		border-right-color: $primary-color;
}
//CSS Triangles - Colors are added in _themes.scss
/*
.l-service-description.service-style-1::after {
	border-left-color: $contrast-color;
}
.l-service-description.service-style-2::after {
	border-left-color: $compliment-color;
}
.l-service-description.service-style-3::after {
	border-left-color: $primary-color;
}
*/
//Alternates between left side & right side triangle
/*.l-service-wrapper:nth-child(odd) {
	.l-service-description::after {
		left: 75%;
	}
}
.l-service-description.service-style-1::after {
	border-left-color: $contrast-color;
}
.l-service-description.service-style-2::after {
	border-left-color: $compliment-color;
}
.l-service-description.service-style-3::after {
	border-left-color: $primary-color;
}*/
/*****ABOUT US/CONTACT******
****************************/
#safety {
	padding: 5% 0 0 0;
	background: url('../img/background.png') no-repeat;
	background-size: cover;
}

.icon-spread {
	width: 100%;
	text-align: center;
	img {
		margin: 5%;
	}
}

/*****ABOUT US/CONTACT******
****************************/
.footer {
	height: 40px;
	p {
		@include vertical-align;
		padding-left: 2%;
	}
}