//Mixins for testing - remove later. 
$test-color: gray;
//icon size different for each breakpoint
@mixin icon-size {
	height: 48px;
	width: 48px;
}
.icon {
	@include icon-size;

}
#sprite-test {
	  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
	height: 200px;
}
//Section width will vary based on breakpoint

//Creates a consistent vertical align
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

//Styles an element with full screen height and won't resize when the url bar dissapears on mobile browsers (i.e. a mixin that works the way the vh unit actually should). the four major aspect ratios, which must be listed from the largest ratio to the smallest (16:9, 16:10, 3:2, 4:3). 
@mixin vh-fix {
	@media (min-device-aspect-ratio: 16/9) {
		height: calc(100vw * 1.778);
	}
	@media (min-device-aspect-ratio: 16/10) {
	height: calc(100vw * 1.6);
}
	@media (min-device-aspect-ratio: 3/2) {
	height: calc(100vw * 1.5);
}
	@media (min-device-aspect-ratio: 4/3) {
	height: calc(100vw * 1.333);
	}
}

//Landing Panel
//100% heigh ensures consistent landing panel experience
.l-landing-panel {
	width: 320px;
	margin: 0 auto;
	@include vh-fix;
}
//landing panel split into 3 vertical sections along the golden ratio. 62% going to the logo and the 38% split between top and bottom icons
.l-header {
	height: 19%;
	padding: 0;
	img {
		@include vertical-align;
	}
	img:first-of-type {
		float: left;
	}
	img:last-of-type {
		float: right;
	}
}
#logo-wrap {
	height: 62%;
	img {
		@include vertical-align;
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}
.l-landing-footer {
	height: 19%;
	img {
		@include vertical-align;
		display: block;
		margin: 0 auto;
	}
}

//Services
.service-image {
	width: 100%;
	height: 400px;
}

/*******SERVICE PANEL********
****************************/
#large-screen-content {
	display: none;
}
.l-header-wrapper {
	background-color: $test-color;
	height: 3em;
}

.l-service-wrapper {
	position: relative;
	width: 100%;
	img {
		display: block;
		max-width: 100%;
		padding-top: 40px;
	}
	div {
		background-color: $test-color;
		position: absolute;
		top: 0;
		padding: 0 15px 15px 15px;
	}

}

/*****ABOUT US/CONTACT******
****************************/
#about {
	padding: 25% 0 0 0;
}
#contact-div {
	margin-top: 15%;
}
.icon-spread {
	width: 100%;
	text-align: center;
	position: relative;
	div {
		@include icon-size;
		display: inline-block;
		background-color: $test-color;
		margin: 7%;
	}
}

/*****ABOUT US/CONTACT******
****************************/
.footer {
	background-color: $test-color;
	height: 40px;
	p {
		@include vertical-align;
	}
}