//Mixins for testing - remove later. 
$test-color: gray;
@mixin icon-size {
	height: 48px;
	width: 48px;
}
.icon {
	@include icon-size;

}
//Section width @100% for landscape
//Mixing from internet to create a consistent vertical align
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

//Landing Panel
//100% heigh ensures consistent landing panel experience
.l-landing-panel {
	height: 100vh;
}
//landing panel split into 3 sections along the golden ratio. 62% going to the logo and the 38% split between top and bottom icons
.l-header {
	height: 19%;
	padding: 0 10px;
	img {
		@include vertical-align;
	}
	img:first-of-type {
		float: left;
	}
	img:last-of-type {
		float: right;
	}
}
#logo-wrap {
	height: 62%;
	img {
		@include vertical-align;
		display: block;
		margin: 0 auto;
		max-height: 100%;
	}
}
.l-landing-footer {
	height: 19%;
	img {
		@include vertical-align;
		display: block;
		margin: 0 auto;
	}
}

/*******SERVICE PANEL********
****************************/

#large-screen-content {
	display: none;
}
.l-header-wrapper {
	background-color: $test-color;
	height: 3em;
	h2 {
		@include vertical-align;
	}
}

.l-service-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
//Images arent sizing properly to 100% for larger phone models (iphone 6 plus) Need to research respondize images.
	img {
		display: block;
		height: 80%;
	}
	div {
		background-color: $test-color;
		position: absolute;
		top: 0;
		height: 100%;
		width: 62%;
		padding: 0 15px;
	}
	div p {
		display: none;
	}
}
//Alternate every other service description to right or left
.l-service-wrapper:nth-child(2n-1) {
	div {
	right: 0;
	}
}


/*****ABOUT US/CONTACT******
****************************/
#about {
	padding: 5% 0 0 0;
}
#contact-div {
	margin-top: 15%;
}
.icon-spread {
	width: 100%;
	text-align: center;
	position: relative;
	div {
		@include icon-size;
		display: inline-block;
		background-color: $test-color;
		margin: 10%;
	}
}

/*****ABOUT US/CONTACT******
****************************/
.footer {
	background-color: $test-color;
	height: 40px;
	p {
		@include vertical-align;
	}
}