@import "base";

.l-header-wrapper {
	background-color: $primary-color;
}
.l-header p {
	color: $primary-color;
}
.l-service-description.service-style-1 {
	background-color: $contrast-color;
}
.l-service-description.service-style-2 {
	background-color: $compliment-color;
}
.l-service-description.service-style-3 {
	background-color: $primary-color;
}
.footer {
	background-color: $contrast-color;
}



