$primary-color: #8f6d50;
$contrast-color: #0f3436;
$compliment-color: #5a1a18;

#large-screen-content {
	h2, p, em {
		color: $primary-color;
	}
}
.l-header p {
	color: $primary-color;
}
.l-service-description.service-style-1 {
	background-color: $contrast-color;
}
.l-service-description.service-style-2 {
	background-color: $compliment-color;
}
.l-service-description.service-style-3 {
	background-color: $primary-color;
}



.footer {
	background-color: $contrast-color;
}


