| ---
| layout: master
| ---
= '\n'

.section.landing
    .contact 
        a.float-left(href="mailto:jordan.los@hotmail.com"): p jordan.los@hotmail.com
        a.float-right(href="tel:5874334584"): p 587.433.4584
    #landing-text
        h1 JORDAN LOS
        p FRONT END DEVELOPER













// For Posts
        | {% for posts in site.posts %}
              img(src='{{ posts.img }}')
                  {{ posts.date | date: '#[strong %d] #[br] %B' }}
                  {{ posts.title }}]
              | {{ posts.excerpt }}
        | {% endfor %}
