/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Oxygen:700,400,300);
/* line 4, ../sass/_base.scss */
html, body {
  margin: 0;
  padding: 0px;
  overflow: none;
}
/* line 9, ../sass/_base.scss */
html html, html body, body html, body body {
  height: 100%;
}

/* line 22, ../sass/_base.scss */
h2 {
  margin: 0;
}

/* line 35, ../sass/_base.scss */
body {
  margin: 0;
  background-color: white;
  color: white;
}

/* line 40, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6, p, em {
  font-family: "Oxygen";
}

/* line 43, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* line 46, ../sass/_base.scss */
p {
  font-weight: 400;
}

/* line 50, ../sass/_base.scss */
a:hover {
  color: #0f3436;
}

/* line 6, ../sass/_themes.scss */
#large-screen-content h2, #large-screen-content p, #large-screen-content em {
  color: #8f6d50;
}

/* line 10, ../sass/_themes.scss */
.l-header p {
  color: #8f6d50;
}

/* line 14, ../sass/_themes.scss */
.l-service-wrapper:nth-child(3n) div {
  background-color: #8f6d50;
}

/* line 19, ../sass/_themes.scss */
.l-service-wrapper:nth-child(3n-1) div {
  background-color: #5a1a18;
}

/* line 24, ../sass/_themes.scss */
.l-service-wrapper:nth-child(3n-2) div {
  background-color: #0f3436;
}

/* line 28, ../sass/_themes.scss */
.footer {
  background-color: #0f3436;
}

@media (max-width: 800px) {
  /* line 6, ../sass/_layout-mobile-narrow.scss */
  .icon {
    height: 48px;
    width: 48px;
  }

  /* line 39, ../sass/_layout-mobile-narrow.scss */
  .l-landing-panel {
    width: 320px;
    margin: 0 auto;
  }
}
@media (max-width: 800px) and (max-device-aspect-ratio: 3 / 4) {
  /* line 39, ../sass/_layout-mobile-narrow.scss */
  .l-landing-panel {
    height: calc(100vw * 1.333 - 65px);
  }
}
@media (max-width: 800px) and (max-device-aspect-ratio: 2 / 3) {
  /* line 39, ../sass/_layout-mobile-narrow.scss */
  .l-landing-panel {
    height: calc(100vw * 1.5 - 65px);
  }
}
@media (max-width: 800px) and (max-device-aspect-ratio: 10 / 16) {
  /* line 39, ../sass/_layout-mobile-narrow.scss */
  .l-landing-panel {
    height: calc(100vw * 1.6 - 65px);
  }
}
@media (max-width: 800px) and (max-device-aspect-ratio: 9 / 16) {
  /* line 39, ../sass/_layout-mobile-narrow.scss */
  .l-landing-panel {
    height: calc(100vw * 1.778 - 65px);
  }
}

@media (max-width: 800px) {
  /* line 45, ../sass/_layout-mobile-narrow.scss */
  .l-header {
    height: 19%;
    padding: 0;
  }
  /* line 48, ../sass/_layout-mobile-narrow.scss */
  .l-header p {
    text-align: center;
    float: right;
    font-size: 1.5em;
  }

  /* line 54, ../sass/_layout-mobile-narrow.scss */
  #logo-wrap {
    height: 62%;
  }
  /* line 56, ../sass/_layout-mobile-narrow.scss */
  #logo-wrap img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  /* line 63, ../sass/_layout-mobile-narrow.scss */
  .l-landing-footer {
    height: 19%;
  }
  /* line 65, ../sass/_layout-mobile-narrow.scss */
  .l-landing-footer img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
  }

  /*******SERVICE PANEL********
  ****************************/
  /* line 74, ../sass/_layout-mobile-narrow.scss */
  #large-screen-content {
    display: none;
  }

  /* line 78, ../sass/_layout-mobile-narrow.scss */
  .l-header-wrapper {
    height: 3em;
  }

  /* line 81, ../sass/_layout-mobile-narrow.scss */
  .l-service-wrapper {
    overflow: hidden;
  }

  /* line 84, ../sass/_layout-mobile-narrow.scss */
  .l-service-description {
    padding: 25px;
  }
  /* line 86, ../sass/_layout-mobile-narrow.scss */
  .l-service-description p {
    margin: 0;
    padding-top: 25px;
  }
  /* line 90, ../sass/_layout-mobile-narrow.scss */
  .l-service-description h2 {
    text-align: center;
  }

  /* line 95, ../sass/_layout-mobile-narrow.scss */
  .l-service-images {
    width: 100%;
    position: relative;
  }
  /* line 98, ../sass/_layout-mobile-narrow.scss */
  .l-service-images img {
    display: inline;
    width: 100%;
    float: left;
    margin: 0 auto;
  }
  /* line 104, ../sass/_layout-mobile-narrow.scss */
  .l-service-images img:nth-of-type(2n) {
    position: absolute;
    right: -100%;
  }

  /*****ABOUT US/CONTACT******
  ****************************/
  /* line 113, ../sass/_layout-mobile-narrow.scss */
  #safety {
    padding: 5% 0 0 0;
    background: url("../img/background.png") no-repeat;
    background-size: cover;
  }

  /* line 119, ../sass/_layout-mobile-narrow.scss */
  .safety img {
    max-width: 90%;
  }

  /* line 123, ../sass/_layout-mobile-narrow.scss */
  #contact-div {
    margin-top: 15%;
  }

  /* line 126, ../sass/_layout-mobile-narrow.scss */
  .icon-spread {
    width: 100%;
    text-align: center;
    position: relative;
  }
  /* line 130, ../sass/_layout-mobile-narrow.scss */
  .icon-spread div {
    height: 48px;
    width: 48px;
    display: inline-block;
    margin: 5%;
  }
  /* line 135, ../sass/_layout-mobile-narrow.scss */
  .icon-spread img {
    margin: 5%;
  }

  /*****ABOUT US/CONTACT******
  ****************************/
  /* line 142, ../sass/_layout-mobile-narrow.scss */
  .footer {
    height: 40px;
  }
  /* line 144, ../sass/_layout-mobile-narrow.scss */
  .footer p {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 2%;
  }
}
/*@media 
	(min-width: 450px) and (max-width: 750px) {
		@import 'layout-mobile-landscape';
}*/
@media (min-width: 800px) {
  /* line 5, ../sass/_layout-large-screen.scss */
  .icon {
    width: 72px;
    height: 72px;
  }

  /* line 16, ../sass/_layout-large-screen.scss */
  #wide-screen {
    max-width: 980px;
    margin: 0 auto;
  }

  /* line 22, ../sass/_layout-large-screen.scss */
  .l-landing-panel {
    height: 100%;
  }

  /* line 26, ../sass/_layout-large-screen.scss */
  .l-header {
    height: 19%;
    padding: 0;
  }
  /* line 29, ../sass/_layout-large-screen.scss */
  .l-header p {
    display: none;
  }

  /* line 34, ../sass/_layout-large-screen.scss */
  #contact-div {
    position: absolute;
    top: 0;
    max-width: 980px;
  }
  /* line 38, ../sass/_layout-large-screen.scss */
  #contact-div .icon {
    display: inline-block;
    margin: 2.5% 5%;
    background-color: grey;
  }

  /* line 44, ../sass/_layout-large-screen.scss */
  #logo-wrap {
    height: 62%;
  }
  /* line 46, ../sass/_layout-large-screen.scss */
  #logo-wrap img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
    max-height: 100%;
  }

  /* line 53, ../sass/_layout-large-screen.scss */
  .l-landing-footer {
    height: 19%;
  }
  /* line 55, ../sass/_layout-large-screen.scss */
  .l-landing-footer img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
  }

  /*******SERVICE PANEL********
  ****************************/
  /* line 65, ../sass/_layout-large-screen.scss */
  .l-header-wrapper {
    display: none;
  }

  /* line 68, ../sass/_layout-large-screen.scss */
  #large-screen-content {
    height: 30vh;
    margin: 1vh 0;
  }
  /* line 71, ../sass/_layout-large-screen.scss */
  #large-screen-content div, #large-screen-content h2 {
    text-align: right;
  }
  /* line 74, ../sass/_layout-large-screen.scss */
  #large-screen-content div {
    display: inline-block;
    float: left;
    width: 45%;
    margin-right: 10%;
  }
  /* line 80, ../sass/_layout-large-screen.scss */
  #large-screen-content em {
    font-size: 4em;
  }

  /* line 85, ../sass/_layout-large-screen.scss */
  .l-service-wrapper {
    overflow: hidden;
    height: 359px;
    position: relative;
    width: 99%;
  }

  /* line 92, ../sass/_layout-large-screen.scss */
  .l-service-description {
    position: absolute;
    z-index: 99;
    top: 0;
    width: calc(38% -  60px);
    height: 344px;
    padding: 15px 30px 0 30px;
  }
  /* line 99, ../sass/_layout-large-screen.scss */
  .l-service-description p, .l-service-description h2 {
    text-align: right;
  }

  /* line 104, ../sass/_layout-large-screen.scss */
  .l-service-images {
    position: relative;
    width: 124%;
    margin-left: 38%;
  }
  /* line 108, ../sass/_layout-large-screen.scss */
  .l-service-images img {
    display: inline;
    width: 50%;
    float: left;
  }
  /* line 113, ../sass/_layout-large-screen.scss */
  .l-service-images img:nth-of-type(2n) {
    position: absolute;
    right: 0;
  }

  /* line 120, ../sass/_layout-large-screen.scss */
  .l-service-wrapper:nth-of-type(2n) .l-service-description {
    right: 0;
  }
  /* line 122, ../sass/_layout-large-screen.scss */
  .l-service-wrapper:nth-of-type(2n) .l-service-description p, .l-service-wrapper:nth-of-type(2n) .l-service-description h2 {
    text-align: left;
  }
  /* line 126, ../sass/_layout-large-screen.scss */
  .l-service-wrapper:nth-of-type(2n) .l-service-images {
    margin-left: 0;
  }

  /*****ABOUT US/CONTACT******
  ****************************/
  /* line 132, ../sass/_layout-large-screen.scss */
  #safety {
    padding: 5% 0 0 0;
    background: url("../img/background.png") no-repeat;
    background-size: cover;
  }

  /* line 138, ../sass/_layout-large-screen.scss */
  .icon-spread {
    width: 100%;
    text-align: center;
  }
  /* line 141, ../sass/_layout-large-screen.scss */
  .icon-spread img {
    margin: 5%;
  }

  /*****ABOUT US/CONTACT******
  ****************************/
  /* line 148, ../sass/_layout-large-screen.scss */
  .footer {
    height: 40px;
  }
  /* line 150, ../sass/_layout-large-screen.scss */
  .footer p {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 2%;
  }
}
/* line 104, icons/*.png */
.icons-sprite, .icons-close, .icons-email, .icons-facebook, .icons-linkedin, .icons-map, .icons-phone, .icons-placeholder, .icons-safety {
  background-image: url('/img/icons-s78f6176b7a.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-close {
  background-position: 0 0;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-email {
  background-position: 0 -620px;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -1240px;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin {
  background-position: 0 -1860px;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-map {
  background-position: 0 -2480px;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone {
  background-position: 0 -3100px;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-placeholder {
  background-position: 0 -3720px;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-safety {
  background-position: 0 -4340px;
}
