/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 3, ../sass/_base.scss */
html, body {
  margin: 0;
  padding: 0px;
  overflow: none;
  font-family: 'Oxygen', sans-serif;
}
/* line 9, ../sass/_base.scss */
html html, html body, body html, body body {
  height: 100%;
}

/* line 22, ../sass/_base.scss */
h2 {
  margin: 0;
}

/* line 35, ../sass/_base.scss */
body {
  margin: 0;
  background-color: white;
  color: white;
}

/* line 40, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6, p, em {
  font-family: "Oxygen";
}

/* line 43, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* line 46, ../sass/_base.scss */
p {
  font-weight: 400;
}

/* line 50, ../sass/_base.scss */
a:hover {
  color: #0f3436;
}

/* line 5, ../sass/_themes.scss */
body {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZWVlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNlNmU2ZTYiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Q4ZDhkOCI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");
}

/* line 8, ../sass/_themes.scss */
#wide-screen {
  background-color: white;
}

/* line 11, ../sass/_themes.scss */
a {
  text-decoration: none;
  color: #8f6d50;
}

/* line 15, ../sass/_themes.scss */
a:hover {
  color: black;
}

/* line 18, ../sass/_themes.scss */
#large-screen-content {
  background-color: white;
}
/* line 19, ../sass/_themes.scss */
#large-screen-content h2, #large-screen-content p, #large-screen-content em {
  color: #8f6d50;
}

/* line 24, ../sass/_themes.scss */
.l-header-wrapper {
  background-color: #8f6d50;
}

/* line 27, ../sass/_themes.scss */
.l-header p {
  color: #8f6d50;
}

/* line 30, ../sass/_themes.scss */
.l-service-description.service-style-1 {
  background-color: #0f3436;
}

/* line 33, ../sass/_themes.scss */
.l-service-description.service-style-2 {
  background-color: #5a1a18;
}

/* line 36, ../sass/_themes.scss */
.l-service-description.service-style-3 {
  background-color: #8f6d50;
}

/* line 40, ../sass/_themes.scss */
.footer {
  background-color: #0f3436;
}

@media (max-width: 800px) {
  /* line 23, ../sass/_layout-mobile-narrow.scss */
  .icon {
    height: 48px;
    width: 48px;
  }

  /* line 55, ../sass/_layout-mobile-narrow.scss */
  .l-landing-panel {
    width: 320px;
    margin: 0 auto;
  }
}
@media (max-width: 800px) and (max-device-aspect-ratio: 3 / 4) {
  /* line 55, ../sass/_layout-mobile-narrow.scss */
  .l-landing-panel {
    height: calc(100vw * 1.333 - 65px);
  }
}
@media (max-width: 800px) and (max-device-aspect-ratio: 2 / 3) {
  /* line 55, ../sass/_layout-mobile-narrow.scss */
  .l-landing-panel {
    height: calc(100vw * 1.5 - 65px);
  }
}
@media (max-width: 800px) and (max-device-aspect-ratio: 10 / 16) {
  /* line 55, ../sass/_layout-mobile-narrow.scss */
  .l-landing-panel {
    height: calc(100vw * 1.6 - 65px);
  }
}
@media (max-width: 800px) and (max-device-aspect-ratio: 9 / 16) {
  /* line 55, ../sass/_layout-mobile-narrow.scss */
  .l-landing-panel {
    height: calc(100vw * 1.778 - 65px);
  }
}

@media (max-width: 800px) {
  /* line 61, ../sass/_layout-mobile-narrow.scss */
  .l-header {
    height: 19%;
    padding: 0;
  }

  /* line 65, ../sass/_layout-mobile-narrow.scss */
  .l-header-images {
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* line 69, ../sass/_layout-mobile-narrow.scss */
  #logo-wrap {
    height: 62%;
  }
  /* line 71, ../sass/_layout-mobile-narrow.scss */
  #logo-wrap img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  /* line 78, ../sass/_layout-mobile-narrow.scss */
  .l-landing-footer {
    height: 19%;
  }
  /* line 80, ../sass/_layout-mobile-narrow.scss */
  .l-landing-footer img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
  }

  /*******SERVICE PANEL********
  ****************************/
  /* line 89, ../sass/_layout-mobile-narrow.scss */
  #large-screen-content {
    display: none;
  }

  /* line 93, ../sass/_layout-mobile-narrow.scss */
  .l-header-wrapper {
    background: url("../img/barbell.svg") no-repeat center;
    background-color: #8f6d50;
    background-size: 19em;
    height: 7em;
    text-align: center;
  }
  /* line 99, ../sass/_layout-mobile-narrow.scss */
  .l-header-wrapper h2 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* line 104, ../sass/_layout-mobile-narrow.scss */
  .l-relative-div {
    position: relative;
  }

  /* line 107, ../sass/_layout-mobile-narrow.scss */
  .l-header-wrapper::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 99;
    border-style: solid;
    border-color: transparent;
    border-width: 35px 25px;
    border-bottom: none;
    top: 100%;
    left: 5%;
    border-top-color: #8f6d50;
  }

  /* line 111, ../sass/_layout-mobile-narrow.scss */
  .l-header-wrapper::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 99;
    border-style: solid;
    border-color: transparent;
    border-width: 35px 25px;
    border-bottom: none;
    top: 100%;
    right: 5%;
    border-top-color: #8f6d50;
  }

  /* line 115, ../sass/_layout-mobile-narrow.scss */
  .l-service-wrapper {
    overflow: hidden;
  }

  /* line 118, ../sass/_layout-mobile-narrow.scss */
  .l-service-description {
    position: relative;
    padding: 10px 25px 25px 25px;
  }
  /* line 121, ../sass/_layout-mobile-narrow.scss */
  .l-service-description p {
    margin: 0;
    padding-top: 25px;
  }
  /* line 125, ../sass/_layout-mobile-narrow.scss */
  .l-service-description h2 {
    text-align: center;
  }

  /* line 131, ../sass/_layout-mobile-narrow.scss */
  .l-service-images img {
    width: 100%;
  }

  /* line 135, ../sass/_layout-mobile-narrow.scss */
  .l-service-description::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 99;
    border-style: solid;
    border-color: transparent;
    border-width: 35px 25px;
    border-bottom: none;
    top: 99%;
    left: 5%;
  }

  /* line 140, ../sass/_layout-mobile-narrow.scss */
  .l-service-wrapper:nth-child(even) .l-service-description::after {
    left: 83%;
  }

  /* line 146, ../sass/_layout-mobile-narrow.scss */
  .l-service-description.service-style-1::after {
    border-top-color: #0f3436;
  }

  /* line 149, ../sass/_layout-mobile-narrow.scss */
  .l-service-description.service-style-2::after {
    border-top-color: #5a1a18;
  }

  /* line 152, ../sass/_layout-mobile-narrow.scss */
  .l-service-description.service-style-3::after {
    border-top-color: #8f6d50;
  }

  /*****ABOUT US/CONTACT******
  ****************************/
  /* line 158, ../sass/_layout-mobile-narrow.scss */
  #safety {
    padding: 5% 0 0 0;
    background: url("../img/background.png") no-repeat;
    background-size: cover;
  }

  /* line 164, ../sass/_layout-mobile-narrow.scss */
  .safety img {
    max-width: 90%;
  }

  /* line 168, ../sass/_layout-mobile-narrow.scss */
  #contact-div {
    margin: 15% 0;
  }

  /* line 171, ../sass/_layout-mobile-narrow.scss */
  .icon-spread {
    width: 100%;
    text-align: center;
    position: relative;
  }

  /* line 176, ../sass/_layout-mobile-narrow.scss */
  .safety-icon {
    margin: 5%;
  }

  /* line 179, ../sass/_layout-mobile-narrow.scss */
  .contact-icon {
    width: calc(100vw/2.5);
    padding: 5% 0;
    display: inline-block;
    vertical-align: top;
  }
  /* line 184, ../sass/_layout-mobile-narrow.scss */
  .contact-icon p {
    font-size: 11;
  }

  /*****ABOUT US/CONTACT******
  ****************************/
  /* line 191, ../sass/_layout-mobile-narrow.scss */
  .footer {
    height: 40px;
    padding: 2%;
    font-size: 15;
  }
}
/*@media 
	(min-width: 450px) and (max-width: 750px) {
		@import 'layout-mobile-landscape';
}*/
@media (min-width: 800px) {
  /* line 19, ../sass/_layout-large-screen.scss */
  .icon {
    width: 72px;
    height: 72px;
  }

  /* line 30, ../sass/_layout-large-screen.scss */
  #wide-screen {
    max-width: 980px;
    margin: 0 auto;
  }

  /* line 36, ../sass/_layout-large-screen.scss */
  .l-landing-panel {
    height: 100%;
  }

  /* line 40, ../sass/_layout-large-screen.scss */
  .l-header {
    height: 19%;
    padding: 0;
  }
  /* line 43, ../sass/_layout-large-screen.scss */
  .l-header p {
    display: none;
  }

  /* line 47, ../sass/_layout-large-screen.scss */
  .l-header-images {
    display: none;
  }

  /* line 51, ../sass/_layout-large-screen.scss */
  #contact-div {
    position: absolute;
    top: 0;
    width: 100vw;
    max-width: 980px;
  }

  /* line 58, ../sass/_layout-large-screen.scss */
  .contact-icon {
    width: 72px;
    display: inline-block;
    vertical-align: top;
    font-size: 12;
    float: left;
    padding: 1% calc((100% - 360px)/10);
  }

  /* line 66, ../sass/_layout-large-screen.scss */
  .contact-icon-text {
    margin: 0 -50%;
  }

  /* line 69, ../sass/_layout-large-screen.scss */
  .icon-with-text {
    text-align: center;
  }

  /* line 72, ../sass/_layout-large-screen.scss */
  #logo-wrap {
    height: 62%;
  }
  /* line 74, ../sass/_layout-large-screen.scss */
  #logo-wrap img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
    max-height: 100%;
  }

  /* line 81, ../sass/_layout-large-screen.scss */
  .l-landing-footer {
    height: 19%;
  }
  /* line 83, ../sass/_layout-large-screen.scss */
  .l-landing-footer img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
  }

  /*******SERVICE PANEL********
  ****************************/
  /* line 92, ../sass/_layout-large-screen.scss */
  .l-header-wrapper {
    background: url("../img/barbell.svg") no-repeat center;
    background-color: #8f6d50;
    background-size: 25em;
    height: 8em;
    text-align: center;
  }
  /* line 98, ../sass/_layout-large-screen.scss */
  .l-header-wrapper h2 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* line 103, ../sass/_layout-large-screen.scss */
  .l-relative-div {
    position: relative;
  }

  /* line 106, ../sass/_layout-large-screen.scss */
  .l-header-wrapper::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 99;
    border-style: solid;
    border-color: transparent;
    border-width: 35px 25px;
    border-bottom: none;
    top: 100%;
    left: 5%;
    border-top-color: #8f6d50;
  }

  /* line 110, ../sass/_layout-large-screen.scss */
  .l-header-wrapper::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 99;
    border-style: solid;
    border-color: transparent;
    border-width: 35px 25px;
    border-bottom: none;
    top: 100%;
    right: 5%;
    border-top-color: #8f6d50;
  }

  /* line 114, ../sass/_layout-large-screen.scss */
  .l-service-wrapper {
    overflow: hidden;
    height: 359px;
    position: relative;
    width: 980px;
  }

  /* line 121, ../sass/_layout-large-screen.scss */
  .l-service-description {
    position: absolute;
    z-index: 98;
    top: 0;
    width: calc(38% -  60px);
    height: 344px;
    padding: 15px 30px 0 30px;
  }
  /* line 128, ../sass/_layout-large-screen.scss */
  .l-service-description p, .l-service-description h2 {
    text-align: right;
  }

  /* line 133, ../sass/_layout-large-screen.scss */
  .l-service-images {
    position: relative;
    width: 124%;
    margin-left: 38%;
  }
  /* line 137, ../sass/_layout-large-screen.scss */
  .l-service-images img {
    display: inline;
    width: 50%;
    float: left;
  }
  /* line 142, ../sass/_layout-large-screen.scss */
  .l-service-images img:nth-of-type(2n) {
    position: absolute;
    right: 0;
  }

  /* line 149, ../sass/_layout-large-screen.scss */
  .l-service-wrapper:nth-of-type(2n) .l-service-description {
    right: 0;
  }
  /* line 151, ../sass/_layout-large-screen.scss */
  .l-service-wrapper:nth-of-type(2n) .l-service-description p, .l-service-wrapper:nth-of-type(2n) .l-service-description h2 {
    text-align: left;
  }
  /* line 155, ../sass/_layout-large-screen.scss */
  .l-service-wrapper:nth-of-type(2n) .l-service-images {
    margin-left: 0;
  }

  /* line 161, ../sass/_layout-large-screen.scss */
  .l-service-wrapper:nth-of-type(0n+1) .l-service-description::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 99;
    border-style: solid;
    border-color: transparent;
    border-width: 25px 40px;
    border-right: none;
    left: 100%;
    bottom: 35px;
    border-left-color: #0f3436;
  }

  /* line 165, ../sass/_layout-large-screen.scss */
  .l-service-wrapper:nth-of-type(0n+2) .l-service-description::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 99;
    border-style: solid;
    border-color: transparent;
    border-width: 25px 40px;
    border-left: none;
    right: 100%;
    bottom: 35px;
    border-right-color: #5a1a18;
  }

  /* line 169, ../sass/_layout-large-screen.scss */
  .l-service-wrapper:nth-of-type(0n+3) .l-service-description::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 99;
    border-style: solid;
    border-color: transparent;
    border-width: 25px 40px;
    border-right: none;
    left: 100%;
    bottom: 35px;
    border-left-color: #8f6d50;
  }

  /* line 173, ../sass/_layout-large-screen.scss */
  .l-service-wrapper:nth-of-type(0n+4) .l-service-description::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 99;
    border-style: solid;
    border-color: transparent;
    border-width: 25px 40px;
    border-eft: none;
    right: 100%;
    bottom: 35px;
    border-right-color: #0f3436;
  }

  /* line 177, ../sass/_layout-large-screen.scss */
  .l-service-wrapper:nth-of-type(0n+5) .l-service-description::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 99;
    border-style: solid;
    border-color: transparent;
    border-width: 25px 40px;
    border-right: none;
    left: 100%;
    bottom: 35px;
    border-left-color: #5a1a18;
  }

  /* line 181, ../sass/_layout-large-screen.scss */
  .l-service-wrapper:nth-of-type(0n+6) .l-service-description::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 99;
    border-style: solid;
    border-color: transparent;
    border-width: 25px 40px;
    border-left: none;
    right: 100%;
    bottom: 35px;
    border-right-color: #8f6d50;
  }

  /*****ABOUT US/CONTACT******
  ****************************/
  /* line 188, ../sass/_layout-large-screen.scss */
  #safety {
    padding: 5% 0 0 0;
    background: url("../img/background.png") no-repeat;
    background-size: cover;
  }

  /* line 194, ../sass/_layout-large-screen.scss */
  .icon-spread {
    width: 100%;
    text-align: center;
  }
  /* line 197, ../sass/_layout-large-screen.scss */
  .icon-spread img {
    margin: 5%;
  }

  /*****ABOUT US/CONTACT******
  ****************************/
  /* line 204, ../sass/_layout-large-screen.scss */
  .footer {
    height: 20px;
    padding: 1%;
  }
}
/* line 104, icons/*.png */
.icons-sprite, .icons-close, .icons-email, .icons-facebook, .icons-linkedin, .icons-map, .icons-phone, .icons-placeholder, .icons-safety {
  background-image: url('/img/icons-s78f6176b7a.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-close {
  background-position: 0 0;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-email {
  background-position: 0 -620px;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -1240px;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin {
  background-position: 0 -1860px;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-map {
  background-position: 0 -2480px;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone {
  background-position: 0 -3100px;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-placeholder {
  background-position: 0 -3720px;
}

/* line 84, ../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-safety {
  background-position: 0 -4340px;
}
