@import "base";
/********CRITICAL***********/
.icon {
	width: 72px;
	height: 72px;
}

/********CRITICAL***********/
#wide-screen {
	max-width: 980px;
	margin: 0 auto;
}
/********CRITICAL****DOWN*******/
//Landing Panel
//100% heigh ensures consistent landing panel experience
.l-landing-panel {
	display: hidden;
	height: 100%;
}
//landing panel split into 3 sections along the golden ratio. 62% going to the logo and the 38% split between top and bottom icons
.l-header {
	height: 19%;
	padding: 0;
	p {
		display: none;
	}
}
.l-header-images {
	display: none;
}
//Add bottom social/contact icons to top of page
#contact-div {
	position: absolute;
	top: 0;
	//width 100vw ensures .contact-icon is spread evenly below 980px
	width: 100vw;
	max-width: 980px;
	margin-top: 0;
}
.contact-icon {
		width: 72px;
		display: inline-block;
		vertical-align: top;
		font-size: 12;
		float: left;
		padding: 1% calc((100% - 360px)/10);
}
.contact-icon-text {
	margin: 0 -50%;
}
.icon-with-text {
	text-align: center;
}
#logo-wrap {
	height: 62%;
	img {
		@include vertical-align;
		display: block;
		margin: 0 auto;
		max-height: 100%;
	}
}
.l-landing-footer {
	height: 19%;
	img {
		@include vertical-align;
		display: block;
		margin: 0 auto;
	}
}
/********CRITICAL****UP*****/
/*******SERVICE PANEL********
****************************/
.l-header-wrapper {
	background: url("../img/barbell.svg") no-repeat center;
	background-color: $primary-color;
	background-size: 25em;
	height: 8em; 
	text-align: center;
	h2 {
		@include vertical-align;
	}
}
//triange mixin requires relative div wrapper
.l-relative-div {
 position: relative;
}
.l-header-wrapper::after {
	@include triangle(bottom, 35px, 25px, top, 100%, left, 5%);
	border-top-color: $primary-color;
}
.l-header-wrapper::before {
	@include triangle(bottom, 35px, 25px, top, 100%, right, 5%);
	border-top-color: $primary-color;
}
.l-service-wrapper {
	overflow: hidden;
	height: 359px;
	position: relative;
	width: 980px;
}

.l-service-description {
	position: absolute;
	top: 0;
	width: calc(38% -  60px);
	height: 344px;
	padding: 15px 30px 0 30px;
	p, h2 {
		text-align: right;
	}
}

//Adds thumbnails to each service
.l-service-wrapper:nth-of-type(0n+1) {
	@include thumbnail-selector(site-service);
}
.l-service-wrapper:nth-of-type(0n+2) {
	@include thumbnail-selector(jack-slide);
}
.l-service-wrapper:nth-of-type(0n+3) {
	@include thumbnail-selector(picker);
}
.l-service-wrapper:nth-of-type(0n+4) {
	@include thumbnail-selector(transport);
}
.l-service-wrapper:nth-of-type(0n+5) {
	@include thumbnail-selector(forklift);
}
.l-service-wrapper:nth-of-type(0n+6) {
	@include thumbnail-selector(rig);
}

//Images are stacked on top of each other to allow a click to fade in/out
.l-service-images {
	position: relative;
	width: 124%;
	margin-left: 38%;
	img {
		width: 50%;
		position: absolute;
		top: 0;
		z-index: 1;
	}
	.service-image-1 {
		z-index: 2;
	}
}
//Alternates position of Service Descriptions 
.l-service-wrapper:nth-of-type(2n) {
	.l-service-description {
		right: 0;
		p, h2 {
			text-align: left;
		}
	}
	.l-service-images {
		margin-left: 0;
	}
}
//Must select .l-service-description as nth child .l-service-wrapper to add different ::after styles
//Adds a triangle after each .l-service-description. Since the direction of the triangles changes on 2n and the color on 3n, each triangle requires unique styling. Adding border-*-color by .l-service-wrapper.l-service-style-*::after won't change the transparent border color in the triangle mixin.
.l-service-wrapper:nth-of-type(0n+1) .l-service-description::after {
		@include triangle(right, 25px, 40px, left, 100%, bottom, 35px);
		border-left-color: $contrast-color;
}
.l-service-wrapper:nth-of-type(0n+2) .l-service-description::after {
		@include triangle(left, 25px, 40px, right, 100%, bottom, 35px);
		border-right-color: $compliment-color;
}
.l-service-wrapper:nth-of-type(0n+3) .l-service-description::after {
		@include triangle(right, 25px, 40px, left, 100%, bottom, 35px);
		border-left-color: $primary-color;
}
.l-service-wrapper:nth-of-type(0n+4) .l-service-description::after {
		@include triangle(eft, 25px, 40px, right, 100%, bottom, 35px);
		border-right-color: $contrast-color;
}
.l-service-wrapper:nth-of-type(0n+5) .l-service-description::after {
		@include triangle(right, 25px, 40px, left, 100%, bottom, 35px);
		border-left-color: $compliment-color;
}
.l-service-wrapper:nth-of-type(0n+6) .l-service-description::after {
		@include triangle(left, 25px, 40px, right, 100%, bottom, 35px);
		border-right-color: $primary-color;
}

/*****ABOUT US/CONTACT******
****************************/
#safety {
	padding: 5% 0 0 0;
	background: url('../img/background.png') no-repeat;
	background-size: cover;
}

/********CRITICAL***********/
.icon-spread {
	width: 100%;
	text-align: center;
	img {
		margin: 5%;
	}
}

/*****ABOUT US/CONTACT******
****************************/
.footer {
	height: 20px;
	padding: 1%;
}